bams/
.snakemake/
genomes/
mason*
reads
sim
pops.txt
vars*
vcf
benchmarks
callable_sites
d4
depths
logs
test-d4
out.log
output/
results
mosdepth_d4
test
3e5143698742c9957023505a31b12c3d
592d10b88c7311ec9304c34f6441e6dd
67e3c59f710022855561f94ade2fb029
conda/*
ntermediate_missing/
clam/
conda/
intermediate_missing
intermediate
test
test2
test3
